# IRC nick
nickname = moocow2_
# Name field
ircname = moooooooooo
# Server to connect to
server = irc.teksavvy.ca
port = 6667
usessl = 0
# list of channels to join #chan1,#chan2,...
channels = #mootest
#Weather underground API key for weather
apikey = bdf8d52c20b509c5
trigger = !
#dbpath = /var/db/moocow/moocow.db
dbpath = moocow.db
autourl = 1
master = *!ktuli@shell.atvnc.com
banexpire = 0
